.App {
  font-family: sans-serif;
  text-align: center;
}

/* counts */
.table {
  position: absolute;
  width: 200px;
  text-align: center;
  left: 30%;
}

/* split screen */
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}
.left {
  width: 70%;
  left: 0;
  background-color: #d1d1d1;
  overflow: hidden;
}
.right {
  width: 30%;
  right: 0;
  background-color: rgb(255, 255, 255);
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* form */
form.form-example {
  display: table;
  background-color: white;
  font-size: 15px;
  width: 200px;
  padding: 5px 10px 0 10px;
}

div.form-example {
  display: table-row;
}

label,
.form-exampel.input {
  display: table-cell;
  width: 80%;
}

label {
  padding-right: 10px;
  font-size: 15px;
  padding: 7px;
}

.form.button {
  width: 400px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-child {
  flex: 1;
  padding: 10px;
}

.flex-child:first-child {
  margin-right: 50px;
} 

/* manifest and log buttons */
.parent {
  padding: 10px 30px;
  text-align: left;
}
.child {
  display: inline-block;
  padding: 0 10px;
  vertical-align: middle;
}
