.move {
  height: 150px;
  width: 265px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 1px solid;
  border-color: black;
  border-radius: 10px;
  background-color: white;
}
.destroy {
  height: 150px;
  width: 265px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 1px solid;
  border-color: black;
  border-radius: 10px;
  background-color: white;
}
.moveFar {
  height: 150px;
  width: 265px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 1px solid;
  border-color: black;
  border-radius: 10px;
  background-color: white;
}

.moveFar-enter-active {
  transform: translateX(0px) translateY(-192px);
  transition: transform 2000ms;
}
.move-enter-active {
  transform: translateX(0px) translateY(-172px);
  transition: transform 2000ms;
}
.destroy-enter-active {
  transform: scale(0);
  transition: transform 2000ms;
}

/* .box-exit-active {
  transform: scale(0);
  transition: transform 700ms;
} */

.GreenBox {
  height: 190px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 2px solid;
  border-color: rgb(5, 245, 5);
  border-radius: 10px;
}

.info {
  margin: 0;
  text-align: center;
  font-size: 1.3rem;
}
