@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
/* .box-exit-active {
  transform: translateX(0px) translateY(-175px);
  transition: transform 300ms;
} */

.page {
  height: 100vh;
  width: 100vw;
}

p {
  margin: 0;
}

.leftcontent {
  width: calc(100% - 300px);
  height: 100%;
  float: left;
  background-color: aqua;
}

.column {
  width: 300px;
  height: 100vh;
  float: right;
  background-color: #9b9b9b;
}

.boxContent {
  height: calc(93% - 130px);
  overflow-y: scroll;
}

.timeEstimates {
  height: 125px;
  border-bottom: 1px solid #c5c5c5;
  text-align: center;
  font-size: 1.3rem;
  font-family: work sans;
}

.header {
  height: 90px;
  width: 100%;
  background-color: #494949;
}

.crane {
  height: calc(85% - 90px);
  width: 100%;
  background-color: #dfdfdf;
  position: relative;
}

.footer {
  height: 15%;
  width: 100%;
  /* background-color: rgba(59, 58, 58, 1); */
  background-color: #c5c5c5;
  bottom: 0;
  border-top: solid black;
  border-width: 0px;
  /* IF YOU WANT BORDER FOR FOOOTER THEN MAKE WIDTH ABOVE 0 */
}

.columnFooter {
  height: 10%;
  width: inherit;
  bottom: 0;
  position: fixed;
  z-index: 3;
  text-align: center;
  background-color: rgba(59, 58, 58, 0);
}

.nextButton {
  font-family: work sans;
  background-color: #54b12f;
  border-radius: 200px;
  border: none;
  font-size: 17px;
  color: white;
  height: 60%;
  width: 200px;
  margin-left: 25px;
  margin-right: 25px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 8px 15px;
}

.nextButton:hover {
  background-color: #3e9a1a;
}

.gradient {
  width: 100%;
  height: 200px;
  background: linear-gradient(
    to top,
    rgba(155, 155, 155, 1) 0%,
    rgba(155, 155, 155, 0) 100%
  );
  position: fixed;
  top: auto;
  bottom: 4%;
}
.gradient1 {
  width: 100%;
  height: 160px;
  background: linear-gradient(
    to top,
    rgba(155, 155, 155, 1) 0%,
    rgba(155, 155, 155, 0) 100%
  );
  position: fixed;
  top: auto;
  bottom: 4%;
}
.gradient2 {
  width: 100%;
  height: 100px;
  background: linear-gradient(
    to top,
    rgba(155, 155, 155, 1) 0%,
    rgba(155, 155, 155, 0) 100%
  );
  position: fixed;
  top: auto;
  bottom: 4%;
}

.greenOutline {
  top: 310px;
  height: 170px;
  width: 285px;
  margin-left: 4px;
  border: rgb(5, 245, 5) solid;
  border-radius: 10px;
  position: fixed;
  z-index: 0;
}

.CommentTitle {
  color: white;
}

.CommentBar {
  position: relative;
  color: white;
  position: block;
  height: 76.5%;
  top: calc(50% - 76% / 2);
  width: 75%;
  margin: auto;
}
.CommentInput {
  position: absolute;
  margin: auto;
  border-radius: 5px;
  margin-top: 1.5%;
  height: 69%;
  width: 93%;
  float: left;
  padding: 5px;
  background-color: lightgray;
  border: 1px solid #ccc;
  resize: none;
  z-index: 3;
}
.CommentInput:focus {
  outline: 1.5px solid #2b83c7 !important;
}

.SubmitComment {
  position: absolute;
  right: 0%;
  height: 30%;
  width: 5%;
  padding: 0;
  top: calc(50% - 30% / 2);
  margin-left: -5px;
  border-radius: 0;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}

.SubmitComment:hover {
  border: 1px #57aa36;
}

/* .greenOutline {
  height: 190px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 2px solid;
  border-color: rgb(5, 245, 5);
  border-radius: 10px;
} */
