@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");

.Background {
}

.Header {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Gloock", cursive;
  font-size: 60px;
}

.MainContainer {
  display: block;
  width: 65vh;
  height: 55vh;
  top: calc(50% - (55vh / 2));
  left: calc(50% - (65vh / 2));
  position: absolute;

  justify-content: center;
  align-items: center;
}

.Buttons {
  display: block;
  height: 225px;
  
}

.ContinueDiv {
  position: absolute;
  width: 100%;
  display: block;
  bottom: 0;
}

.Load {
  display: inline;
  top: 35%;
  size: 30px;
  height: 35vh;
  width: 25vh;
  opacity: 1;

  background-color: transparent;
  border: 4px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3b3b3b;
  font-family: gloock;
  font-size: 5vh;
  font-weight: 600;
  min-height: 60px;
  padding: 16px 24px;
  text-align: center;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  touch-action: manipulation;
}

.Load:hover {
  color: #d6d6d6;
  background-color: #534e4e;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.Load:active {
  box-shadow: none;
  transform: translateY(0);
  font-size: 4.5vh;
  color: #d6d6d6;
  background-color: #534e4e;
  border-color: rgb(37, 187, 37);
}

.Load:focus {
  box-shadow: none;
  transform: translateY(0);
  font-size: 4.5vh;
  color: #d6d6d6;
  background-color: #534e4e;
  border-color: rgb(37, 187, 37);
}

.Balance {
  display: inline;
  height: 35vh;
  width: 25vh;
  float: right;

  background-color: transparent;
  border: 4px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3b3b3b;
  font-family: gloock;
  font-size: 4.7vh;
  font-weight: 600;
  padding: 16px 24px;
  text-align: center;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  touch-action: manipulation;
}

.Balance:hover {
  color: #d6d6d6;
  background-color: #534e4e;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.Balance:active {
  box-shadow: none;
  font-size: 4.2vh;
  transform: translateY(0);
  color: #d6d6d6;
  background-color: #534e4e;
  border-color: rgb(37, 187, 37);
}

.Balance:focus {
  box-shadow: none;
  font-size: 4.2vh;
  transform: translateY(0);
  color: #d6d6d6;
  background-color: #534e4e;
  border-color: rgb(37, 187, 37);
}

.Continue {
  display: inline;
  background-color: transparent;
  border: 4px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3b3b3b;
  display: inline-block;
  font-family: gloock;
  font-size: 4.5vh;
  font-weight: 600;
  padding: 16px 24px;
  text-align: center;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  touch-action: manipulation;
}

.Continue:hover {
  color: #d6d6d6;
  background-color: #534e4e;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.Continue:active {
  box-shadow: none;
}

.TopHeader {
  position: relative;
  text-transform: uppercase;
  font-family: gloock;
  font-size: 5vh;
  letter-spacing: 1px;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 16px 0;
  grid-gap: 22px;
}

.TopHeader:after,
.TopHeader:before {
  content: " ";
  display: flex;
  border-bottom: 4px solid #ccc;
  background-color: #f8f8f8;
}
