.lighterBlue {
  background-color: #54bcdb;
}

.lightBlue {
  background-color: #5890a8;
}

.lightYellow {
  background-color: #f8e05a;
}

.lightRed {
  background-color: #fd574e;
}

.green {
  background-color: #3b7a34;
}

.ghost {
  background-color: rgba(100, 100, 100, 0.7);
}

.nan {
  background-color: #2e2d2d;
  /* background-color: #151d70; */
}
.normal {
  background-color: rgba(255, 255, 255, 0.5);
}

.unselected {
  background-color: rgba(255, 255, 255, 0.7);
  border-color: rgba(46, 46, 46, 0.2);
}
