.toolbar {
  display: flex;
  justify-content: space-between;
  border: 0;
  /* border-bottom: 1px;
  border-color: rgb(244, 244, 244);
  border-style: ridge; */
  padding: 20px;
  margin: 0;
  height: 50px;
  /* background-color: #d9d9d9; */
  background-color: #c5c5c5;
}

.manifestHeaderBlock {
  color: white;
}

.finishCraniumToolbarButton {
  font-size: 17px;
  height: 55px;
  width: 130px;
  border-radius: 200px;
  border: none;
  margin: 0 5px;
  padding: 0;
  touch-action: manipulation;
  /* transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1); */
  color: white;
  background-color: #54b12f;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 6px 3px;
}

.finishCraniumToolbarButton:hover {
  font-weight: bold;
  background-color: #3e9a1a;
  box-shadow: rgba(0, 0, 0, 0.15) 0 8px 15px;
  /* transform: translateY(-2px); */
  color: white;
}

.returnToSignInButton {
  font-size: 17px;
  height: 55px;
  width: 130px;
  border-radius: 200px;
  border: none;
  /* border: 3.5px solid white; */
  margin: 0 5px;
  padding: 0;
  touch-action: manipulation;
  /* transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1); */
  color: white;
  background-color: rgb(217, 65, 65);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 6px 3px;
}

.returnToSignInButton:hover {
  font-weight: bold;
  background-color: rgb(198, 31, 31);
  box-shadow: rgba(0, 0, 0, 0.15) 0 8px 15px;
  /* transform: translateY(-2px); */
  color: white;
}

