.PasswordScreen{
    position: relative;
    top: -50px;
    
}
.CraniumLogoPassword{
    top: -50px;    
}

.screen {

    position: relative;
    left: 52.5%;
    top: 50%;
    height: 200px;
    margin-top: -85px; /* half of you height */
    width: 100%;
    margin-left: -200px; /* half of you width */
    /* font-family: "Monaco", sans-serif; */
}

.passwordbutton {
    align-items: center;
    height: 50px;
    width: 125px;
    border-radius: 200px;
    margin-top: 5%;
    left: 15%;
    top: 65%;
    position: relative;
    margin-top: 30px;
    font-size: 20px;
    border: 0;
    background-color: #9b9b9b;
    color: white;
    font-family: "Monaco", sans-serif;
    cursor: pointer;
}

.IncorrectPassword {
    text-align: center;
}