.Cranium{
    position: relative;
    right: 5%;
    top: -150px;
    
}
.screen {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    margin-top: -100px; /* half of you height */
    width: 400px;
    margin-left: -200px; /* half of you width */
    font-family: "Monaco", sans-serif;
}

.passwordbutton {
    height: 50px;
    width: 125px;
    border-radius: 200px;
    margin-top: 5;
    left: 25%;
    top: 55%;
    position: absolute;
    margin: auto;
    font-size: 20px;
    border: 0;
    background-color: #9b9b9b;
    color: white;
    font-family: "Monaco", sans-serif;
}