/* popup modal */
.finishButton {
  font-size: 17px;
  height: 55px;
  width: 130px;
  border-radius: 200px;
  border: none;
  margin: 0 5px;
  padding: 0;
  touch-action: manipulation;
  /* transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1); */
  color: white;
  background-color: #54b12f;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 6px 3px;
  font-family: work sans;
}
.finishButton:hover {
  font-weight: bold;
  background-color: #3e9a1a;
  box-shadow: rgba(0, 0, 0, 0.15) 0 8px 15px;
  /* transform: translateY(-2px); */
  color: white;
}

.popup {
  text-align: center;
  background-color: white;
  width: 450px;
  height: 240px;
  padding: 30px;
  justify-content: center;
  border: solid 2px;
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 25px 5px; */
  overflow: auto;
}
.popup > .popupContent {
  overflow: auto;
  /* border: dashed; */
  width: 380px;
  height: 135px;
  display: block;
  margin: 0px auto;
  padding: 25px;
  font-size: 23px;
  white-space: pre-line;
}

.yesButton {
  font-size: 20px;
  height: 50px;
  width: 110px;
  border-radius: 200px;
  border: none;
  margin: 0 30px;
  padding: 0;
  touch-action: manipulation;
  color: white;
  background-color: #54b12f;
}
.yesButton:hover {
  background-color: #3e9a1a;
  color: white;
}

.noButton {
  font-size: 20px;
  height: 50px;
  width: 110px;
  border-radius: 200px;
  border: none;
  margin: 0 30px;
  padding: 0;
  touch-action: manipulation;
  color: white;
  background-color: rgb(217, 65, 65);
}

.noButton:hover {
  background-color: rgb(198, 31, 31);
  color: white;
}
