/* form */
form.form-example {
  display: table;
  /* background-color: white;
  font-size: 15px;
  width: 200px;
  padding: 5px 10px 0 10px; */
}

div.form-example {
  display: table-row;
}

label,
.form-exampel.input {
  display: table-cell;
  /* width: 80%; */
}

/* label {
  padding-right: 10px;
  font-size: 15px;
  padding: 7px;
} */

.form.button {
  /* width: 400px;
  padding: 40px;
  top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
}

/* display side by side */
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* position: absolute;  */
  top: 25%;
  left: 25%;
}

.flex-child {
  flex: 1;
  padding: 10px;
}

.flex-child:first-child {
  margin-right: 50px;
}