.ZoomDiv {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 25px;
  margin-top: 10px;
  z-index: 10;
}

.zoomButton {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  margin: 3px;
  font-size: 18px;
  cursor: pointer;
}
